<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8">
  <title>Creează programare</title>
  <link rel="stylesheet" href="/assets/stylesheets/application.css">
</head>
<body>
  <div class="container">
    <h1>Creează o programare</h1>

    <label for="specializare">Specializare:</label>
    <select id="specializare"></select>

    <label for="medic">Medic:</label>
    <select id="medic"></select>


    <label for="luna">Luna:</label>
<select id="luna">
  <option value="">Alege luna</option>
  <option value="0">Ianuarie</option>
  <option value="1">Februarie</option>
  <option value="2">Martie</option>
  <option value="3">Aprilie</option>
  <option value="4">Mai</option>
  <option value="5">Iunie</option>
  <option value="6">Iulie</option>
  <option value="7">August</option>
  <option value="8">Septembrie</option>
  <option value="9">Octombrie</option>
  <option value="10">Noiembrie</option>
  <option value="11">Decembrie</option>
</select>

    <label for="zi">Zi disponibilă:</label>
    <select id="zi"></select>

    <label for="ora">Ora disponibilă:</label>
    <select id="ora"></select>

    <button id="creare-btn">Confirmă programarea</button>
  </div>

  <script src="/js/creeaza_programare.js"></script>
</body>
</html>
